/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Indie+Flower&family=Sedan+SC&display=swap');
/* Fonts */
.sedan-sc-regular {
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
  }

  .indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  
/* Asterik selector to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    letter-spacing: 3px;
    color: brown;
}

/* Main body */
main {
    background-color: red;
    /* Make main element push footer down the page */
    flex: 1 0 auto;
    margin-top: 50px;
}

/* Menu styling */
#menu {
    text-decoration: none;
    letter-spacing: 2px;
    list-style: none;
    font-size: 200%;
}

#menu > li {
    margin-bottom: .5em;
}

.active {
    border-bottom: 1px solid #aaa;
}

/* Navbar dropdown toggle */
nav { 
    position: absolute;
    background-color: #ffffff;
    display: none;
    width: 100vw;
    height: 40vh;
    left: 0;
    padding-right: 25px;
    padding-top: .5rem;
    box-shadow: 0 3px 3px #3a3a3a;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Footer */
footer {
    background-color: orange;
}