/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Indie+Flower&family=Sedan+SC&display=swap');
/* Fonts */
.sedan-sc-regular {
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
  }

  .indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  
/* Asterik selector to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* Color for 'Ever' in logo */
strong {
    color: #ff0000;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    letter-spacing: 3px;
    color: #000;
}

/* Main body */
main {
    /* Make main element push footer down the page */
    flex: 1 0 auto;
    margin-top: 50px;
}

/* Hero Section */
#hero-image {
    width: 100%;
    height: 600px;
    background-color: aqua;
    background: url("../images/pexels-edd1egalaxy-3628100.jpg") no-repeat center center/cover;
}

#cover-text {
    font-size: .8em;
    padding-top: 60px;
    padding-right: 15px;
    font-family: "Indie Flower", cursive;
    display: flex;
    justify-content: flex-end;
}

.alt-display {
    display: none;
}

#introduction p {
    font-size: 1.2rem;
}

h2 {
    text-align: center;
}

/* Menu styling */
#menu {
    text-decoration: none;
    letter-spacing: 2px;
    list-style: none;
    font-size: 200%;
}

#menu > li {
    margin-bottom: .5em;
}

/* Color for menu items */
.red-text {
    color: #ff0000;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar dropdown toggle */
nav { 
    position: absolute;
    background-color: #ffffff;
    display: none;
    width: 100vw;
    height: 40vh;
    left: 0;
    padding-right: 25px;
    padding-top: .5rem;
    box-shadow: 0 3px 3px #3a3a3a;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Footer */
footer {
    background-color: #ff0000;
    line-height: 50px;
}

/* Styling for in-text logo */
em {
    font-family: "Indie Flower", cursive;
}

/* Icon Styles */
#media {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    font-size: 1.5rem;
    list-style-type: none;

}

#media i {
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
}

/* Media query for tablets (768px and up) */
@media screen and (min-width: 768px) {
/* Header */
nav {
    display: block;
    position: relative; 
    box-shadow: none;
    width: fit-content;
    font-size: .8rem;
    height: 10%;
}

#menu {
    display: flex;
}

#menu > li {
    padding-left: .8rem;
}

.nav-toggle-label {
    display: none;
}

#logo {
    line-height: 90px;
}

/* Push main down to be below header */
main {
    margin-top: 90px;
}

/* Cover text responsivity */
#cover-text {
    font-size: 1.5em;
    padding-top: 30px;
}
}

